# Project Dir
drafts/*
raw_data/*
scripts/.history/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# New files / folders
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
.env.yaml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Exploration draft
notebooks/*


#GCloud credentials
sdg_classifier_api/sdg-classifier-397610-7ba668817597.json
